:root {
    --primary-background-color: #fe043c;
    --color-text-h: #2e266f;
    --color-white: #ffffff;
    --color-text-p: #707070;
    --background-color-nhat: #fff5ec;
    --background-color-dam: #ffedde;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-32: 32px;
    --font-size-30: 30px;
    --font-size-48: 48px;
    --font-size-24: 24px;
    --font-size-36: 36px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 200px;
    margin: 0;
    color: var(--color-text-h);
    opacity: 0.05;
    text-transform: capitalize;
    font-weight: 900;
    /* line-height: 300px; */
    height: 222px;
}

h2 {
    font-size: 72px;
    margin: 0;
    color: var(--color-text-h);
}

h3 {
    font-size: var(--font-size-48);
    color: var(--color-text-h);
    font-weight: 500;
    line-height: 62px;
    margin: auto 0;
}

h4 {
    font-size: var(--font-size-24);
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    color: var(--color-text-h);
}

.img {
    width: 100%;
}

.color-primary-s {
    color: var(--primary-background-color);
}

.flex-container {
    display: flex;
}

.clear {
    clear: both;
}


/*header*/

header {
    background-color: var(--background-color-nhat);
    padding: 0 7%;
    position: relative;
    padding-top: 10px;
    height: 100%;
}


/*header-wrapper*/

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    position: relative;
    z-index: 1;
}

.header-wrapper--nav {
    margin-left: -20%;
}

.header-wrapper nav ul {
    list-style-type: none;
}

.header-wrapper nav ul li {
    display: inline-block;
    margin-left: -5px;
    font-size: var(--font-size-16);
    line-height: 24px;
    text-align: center;
    color: var(--color-text-h);
    margin-right: 40px;
    padding-left: 0;
    margin-top: 31px;
}

.header-wrapper nav ul li a {
    text-decoration: none;
    display: block;
    color: var(--color-text-h);
}

.header-wrapper .header__user-panel {
    width: 114px;
    margin: 33px 0;
    position: relative;
}

.header-wrapper .header__user-panel .user-panel__text {
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(--color-white);
}

.example {
    position: relative;
}

.color-side {
    background-color: var(--primary-background-color);
    position: absolute;
    width: 27%;
    height: 110%;
    top: 0;
    right: 0;
}


/*slider-wrapper*/

.slider-wrapper {
    display: flex;
    height: 920px;
}

.slider-wrapper__item {
    width: 50%;
}

.form--size {
    height: 11%;
    width: 85%;
}

form.example input[type="text"] {
    padding: 10px;
    font-size: var(--font-size-16);
    border: none;
    float: left;
    width: 100%;
    background: var(--color-white);
    height: 100%;
    box-shadow: 2px 2px 30px 2px #fff5ec;
}

form.example button {
    float: right;
    width: 20%;
    background: var(--primary-background-color);
    color: var(--color-white);
    font-size: var(--font-size-30);
    border-left: none;
    cursor: pointer;
    border: none;
    height: 90%;
    position: absolute;
    top: 6px;
    right: 15px;
}

form.example .button--border {
    border-radius: 60px 0px 0px 0px;
    width: 200px;
}

form.example button:hover {
    background: #da0b92;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.slider-wrapper__item {
    position: relative;
}

.slider-wrapper__item--z_index {
    z-index: 2;
    position: absolute;
    top: 5%;
}

.slider-wrapper__item--position {
    position: absolute;
    top: -150px;
    width: 72%;
    height: 80%;
    z-index: 1;
    left: 20%;
}

.slider-wrapper__location {
    position: absolute;
    width: 280px;
    height: 65px;
    left: 0px;
    top: 90%;
    background: var(--primary-background-color);
    border-radius: 0px 100px 100px 0px;
    color: var(--color-white);
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: var(--font-size-24);
}

.slider-wrapper__location__text {
    font-size: var(--font-size-30);
    padding-left: 20px;
}

.carousel {
    position: absolute;
    font-size: var(--font-size-36);
    top: 85%;
    right: 4%;
    color: var(--color-white);
    z-index: 3;
}

.arrow--padding {
    padding-right: 40px;
}


/*food-item*/

.food-item {
    background-color: var(--background-color-nhat);
}

.food-item__title {
    padding-top: 218px;
    padding-left: 135px;
    margin-bottom: 158px;
}

.border-left-height {
    border-left: 20px solid var(--primary-background-color);
    padding-left: 30px;
}

.food-item__title p {
    margin-right: 336px;
    margin-left: 149px;
    font-size: var(--font-size-14);
    line-height: 24px;
    color: var(--color-text-p);
}

.foot-item__booking {
    position: absolute;
    right: 0;
    bottom: 10%;
    color: var(--primary-background-color);
    background-color: var(--color-white);
    padding: 1rem 3.5rem;
    border-radius: 100px 0px 0px 100px;
}


/*food-item-content*/

.food-item__wrapper {
    padding-bottom: 211px;
}

.food-item__wrapper__content {
    position: relative;
    margin-right: 40px;
}

.foot-item__content__title {
    position: absolute;
    background-color: var(--primary-background-color);
    opacity: 0.7;
    border-radius: 0px 0px 20px 20px;
    bottom: 0px;
    color: var(--color-white);
    padding: 2% 29% 10% 5%;
}

.foot-item__content__title .foot-item__content__title--font-size {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.icon--font-size {
    font-size: var(--font-size-36);
    color: var(--primary-background-color);
}

.food-item__wrapper__content__item {
    margin: 50% 0 50% 100px;
}

.food-item__wrapper__content__item p {
    color: var(--primary-background-color);
}


/*advance-booking*/

#advance-booking {
    background-color: var(--background-color-dam);
    position: relative;
    height: 1090px;
}

.advance-booking__img-left {
    position: absolute;
    width: auto;
    height: 100%;
    left: 0px;
    top: 0;
    z-index: 2;
}

.advance-booking__content {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: var(--color-white);
    text-align: center;
    z-index: 1;
    height: 50%;
    width: 70%;
}

.advance-booking__img-right {
    position: absolute;
    right: 0px;
    top: 25%;
    z-index: 2;
    height: 50%;
    width: auto;
}

.border-top-width {
    border-top: 20px solid var(--primary-background-color);
    display: inline-block;
    margin-top: 100px;
}

.form--size-s {
    height: 90px;
    width: 544px;
    margin: 0;
    border: 1px solid var(--primary-background-color);
}

form.example .button--small {
    padding: 1rem 2rem;
    width: auto;
}

.advance-booking__content__box {
    justify-content: center;
}

.advance-booking__content__box__item {
    padding: 24px;
}

.advance-booking__content form {
    margin: 60px 0;
}


/*our-services*/

#our-services {
    background-color: var(--background-color-nhat);
    padding-top: 167px;
    padding-bottom: 249px;
}

.our-services__title h3 {
    width: 350px;
    margin-left: 10%;
}

.our-services__title p {
    margin-right: 336px;
    margin-left: 201px;
    font-size: var(--font-size-14);
    line-height: 24px;
    color: var(--color-text-p);
    width: 609px;
}

.our-services__content {
    padding: 255px 135px 0 135px;
}


/* .our-services__title__half__left {
    float: left;
    width: 50%;
} */

.clear {
    clear: both;
}

.our-services__title__half__content__img-box {
    background-color: var(--background-color-dam);
    padding: 14%;
}

.our-services__title__half__text {
    margin: auto 10% auto 10%;
}

.our-services__title__half__text p {
    font-size: var(--font-size-14);
}

.flex-direction--reverse {
    flex-direction: row-reverse;
}

.half__text--margin-right {
    margin: auto 10% auto 10%;
}

.our-services__title__half__left {
    text-align: center;
    flex: 50%;
    position: relative;
}

.background__margin {
    margin-left: 5rem;
    background-color: var(--background-color-dam);
}

.our-services__title__half__right__content {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    top: -10%;
}

.our-services__title__half__right__content p {
    border-bottom: 3px solid var(--primary-background-color);
}


/*Explore-our-foods*/

#Explore-our-foods {
    background-color: var(--background-color-nhat);
    padding-bottom: 145px;
}

.Explore-our-foods__title {
    text-align: center;
}

.Explore-our-foods__title p {
    width: 90%;
    margin: 30px auto 60px auto;
}

.flex-item {
    width: 45%;
    margin: 15px;
}

.Explore-our-foods__content {
    margin: 0 4%;
    flex-wrap: wrap;
}

.Explore-our-foods__item {
    background-color: var(--color-white);
    border-radius: 25px;
}

.Explore-our-foods__item__content {
    padding: 30px;
}

.float--right {
    float: right;
}

.color-primary {
    color: var(--primary-background-color);
    font-size: var(--font-size-24);
    font-weight: 700;
}

.color-h {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-text-h);
}


/* Dowload-apps*/

#dowload-apps {
    background-color: var(--background-color-dam);
    height: 1090px;
}

.dowload-apps__title {
    height: 100%;
}

.our-services__title__half {
    width: 40%;
}

.our-services__title__half--center {
    margin: auto 0 auto 7%;
}

.width--30 {
    width: 30%;
}

.width--70 {
    width: 70%;
}

.our-services__title__half p {
    padding-left: 55px;
}

.google__wrapper {
    color: var(--color-white);
    padding-left: 40px;
    margin: 0 6rem 0 0;
}

.google__play {
    background-color: black;
    margin-left: 20px;
    padding-left: 0;
    border-radius: 10px;
    width: 100%;
}

.google__play i {
    float: left;
    font-size: 30px;
    margin: 8px 20px;
}

.google__play__item {
    float: left;
}

.our-services__title__half--relative {
    position: relative;
}

.our-services__title__half__raucai {
    position: absolute;
    width: auto;
    height: auto;
    transform: rotate(-15.33deg);
    z-index: 0;
    left: 0;
    top: 23%;
}

.our-services__title__half__phone {
    width: auto;
    height: auto;
    z-index: 2;
    top: 0;
    left: 5%;
    position: absolute;
}


/*footer*/

#footer {
    position: relative;
    background-color: var(--background-color-nhat);
    overflow: hidden;
}

.footer__img {
    position: absolute;
    width: 38%;
    height: 963px;
    left: 0;
    top: 10%;
}

.footer__content {
    display: inline-block;
    text-align: center;
    margin: 10% 22%;
    position: relative;
    z-index: 3;
}

.footer__content .footer__content__title__p {
    font-weight: 400;
    font-size: var(--font-size-36);
    line-height: 48px;
    color: var(--color-text-h);
    text-align: center;
}

.footer__content__title {
    margin: 2rem 5rem;
}

.example__email {
    margin: 4rem;
}

.form__input {
    padding: 25px !important;
    border-radius: 100px !important;
}

.submit__email {
    border-radius: 50%;
}

.tron__mui-ten {
    background-color: var(--primary-background-color);
    padding: 1rem;
    color: var(--color-white);
    border-radius: 50%;
    position: absolute;
    top: 16%;
    right: 3%;
}

.footer__content ul {
    list-style-type: none;
}

.footer__content ul li {
    display: inline-block;
    margin: 0 20px;
}

.header-wrapper--nav label,
.header-wrapper--nav input {
    display: none;
}

@media screen and (max-width: 1194px) {
    h1 {
        font-size: 150px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: var(--font-size-36);
    }
    .slider-wrapper__item--padding {
        position: relative;
        width: 140%;
        z-index: 3;
    }
    header {
        padding: 0 30px 0 30px;
    }
    /*Menu*/
    .header-wrapper--nav ul,
    .header__user-panel {
        display: none;
    }
    .header-wrapper--nav label {
        display: inline-block;
    }
    .fa-bar {
        color: var(--color-white);
        font-size: var(--font-size-36);
    }
    .form--size {
        width: 90%;
        position: relative;
        z-index: 3;
    }
    .img--small {
        width: 66%;
        height: 26%;
    }
    .slider-wrapper__item--position {
        top: -4%;
    }
    .food-item__title {
        padding: 160px 0 0 20px;
    }
    .food-item__title p {
        width: 400px;
        margin-right: 1.5rem;
        margin-left: 4px;
        width: 50%;
        margin-top: 8rem;
    }
    .advance-booking__content {
        padding: 0 100px 0 100px;
    }
    /*food item*/
    .food-item__wrapper__content {
        margin-right: 17px;
    }
    .food-item__wrapper__content__item {
        margin: 210px 20px 0 10px;
    }
    /*advance booking*/
    .advance-booking__img-left {
        width: 36%;
        left: -10%;
    }
    .our-services__content {
        padding: 5rem 1rem;
    }
    .our-services__title p {
        margin-right: 5rem;
        margin-left: 3rem;
        margin: 5rem;
    }
    .our-services__title__half--center {
        margin-left: 2rem;
    }
    .our-services__title__half__phone {
        left: -20%;
    }
    .our-services__title__half__raucai {
        width: 60%;
        top: 37%;
        left: -19%;
    }
    .footer__content__title {
        margin: 0;
    }
}

@media screen and (max-width: 555px) {
    h1 {
        font-size: 100px;
        height: 20%;
    }
    h2 {
        font-size: 48px;
    }
    .slider-wrapper__item--padding {
        font-size: var(--font-size-36);
        width: 100%;
        margin-bottom: 2rem;
    }
    .slider-wrapper__item--abulute {
        top: -18%;
    }
    .slider-wrapper {
        flex-wrap: wrap;
    }
    .slider-wrapper .slider-wrapper__item {
        width: 100%;
    }
    .slider-wrapper__location {
        top: 46%;
    }
    .carousel {
        top: 95%;
    }
    /*food item */
    .food-item__title {
        flex-direction: column;
        margin-bottom: 0;
    }
    h3 {
        font-size: var(--font-size-36);
    }
    .food-item__title p {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        width: 100%;
        margin: 1rem;
    }
    .food-item__wrapper {
        flex-direction: column;
        margin: 2rem;
        margin-right: 0;
        margin-bottom: 0;
    }
    .food-item__wrapper__content {
        margin-bottom: 2rem;
    }
    .food-item__wrapper__content__item {
        margin: 3rem;
        text-align: center;
    }
    .our-services__title {
        flex-wrap: wrap;
    }
    .our-services__content {
        flex-direction: column;
    }
    .flex-item {
        width: 100%;
    }
    .Explore-our-foods__title {
        padding-top: 23rem;
    }
    .our-services__title__half {
        width: 100%;
    }
    .our-services__title__half:last-child {
        width: 100%;
    }
    .dowload-apps__title {
        flex-wrap: wrap;
    }
    .our-services__title__half__phone {
        top: -40%;
        left: 8%;
        width: 73%;
    }
    .our-services__title__half__raucai {
        top: -18%;
        left: auto;
    }
    #footer {
        padding-top: 10rem;
    }
    #dowload-apps {
        height: 1200px;
    }
    .advance-booking__img-right {
        width: 30%;
    }
}